{% extends 'layouts/main.html' %}
{% block title %} <title>  GoFundMe | Home </title> {% endblock title %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">The world gets better from our collective efforts.</p>
      <!-- <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
      <p class="lead">
        <a class="btn btn-primary btn-lg jumbotron-btn" href="#" role="button">Start A GoFundMe</a>
      </p>
    </div>

    <div class="master-card">
      <div class="card-first">
          <p>What to expect</p>
          <h1>Funding Raising On GoFundMe <br> Takes Just a few Minutes</h1>
      </div>

      <div class="group-card">
          <div class="cards card-1">
              <i class="fa-solid fa-circle-1"></i>
              <h3>Start with the basics</h3>
              <p>Kick things off with your name and location.</p>
          </div>
          <div class="cards card-2">
              <h3>Craft your story</h3>
              <p> We'll guide you with tips along the way.</p>
          </div>
          <div class="cards card-3">
              <h3>Share with friends and family</h3>
              <p>People out there want to help you.</p>
          </div>

      </div>
    </div> 
    {% endblock content %}