alembic
black
click
decorator
Flask
Flask-Login
Flask-Migrate
Flask-Pydantic
Flask-SQLAlchemy
Flask-Uploads
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
mypy-extensions
pathspec
platformdirs
psycopg2-binary
pydantic
python-decouple
SQLAlchemy
tomli
typing_extensions
validators
Werkzeug