
{{% enxtends layout.html %}}
<main>
    <!--slider-area start-->
    <div class="slider-area slider-area-02 pos-rel">
        <div class="right-border-shape">
            <img src="assets/img/shape/02.png" alt="">
        </div>
        <div class="slider-active">
            <div class="single-slider slider-height-02 pos-rel d-flex align-items-center" style="background-image: url(assets/img/slider/slider1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="slider__content slider__content__02 text-left">
                                <h1 class="main-title mb-25" data-animation="fadeInUp2" data-delay=".2s">We’re Ready 
                                    To Promote Your 
                                    Best Product</h1>
                                <h4>30560k Our Global Gold Partner</h4>
                                <ul class="btn-list btn-list-02">
                                    <li><a class="theme_btn theme_btn2 theme_btn_bg_02" href="about.html" data-animation="fadeInLeft" data-delay=".5s">explore more <i class="far fa-arrow-right"></i></a>
                                    </li>
                                    <li><a class="theme_btn theme-border-btn theme_btn_bg_02" href="contact.html" data-animation="fadeInLeft" data-delay=".5s">donate now <i class="far fa-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-height-02 pos-rel d-flex align-items-center" style="background-image: url(assets/img/slider/slider2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8">
                            <div class="slider__content slider__content__02 text-left">
                                <h1 class="main-title mb-25" data-animation="fadeInUp2" data-delay=".2s">We’re Ready 
                                    To Promote Your 
                                    Best Product</h1>
                                <h4>30560k Our Global Gold Partner</h4>
                                <ul class="btn-list">
                                    <li><a class="theme_btn theme_btn2 theme_btn_bg_02" href="about.html" data-animation="fadeInLeft" data-delay=".7s">explore more <i class="far fa-arrow-right"></i></a>
                                    </li>
                                    <li><a class="theme_btn theme-border-btn theme_btn_bg_02" href="contact.html" data-animation="fadeInLeft" data-delay=".7s">donate now <i class="far fa-arrow-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--slider-area end-->
    <!--about-us-area start-->
    <section class="about-us-area about-area-02 pt-130 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-12">
                    <div class="about-img mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="about-img__thumb">
                            <img src="assets/img/about/02.jpg" alt="">
                        </div>
                        <div class="about-img__style-text">
                            <img src="assets/img/about/02.png" alt="">
                        </div>
                        <div class="about-img__style-dot d-none d-lg-inline-block">
                            <img src="assets/img/shape/03.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12">
                    <div class="about__wrapper about-wrapper-02 pl-70">
                        <div class="section-title text-left mb-50 wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <h6 class="left-line pl-75">Who We Are</h6>
                            <h2>Give Your Hand To<br>
                                <span>The Right Place</span></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa
                                ntium doloremque laudantium, totam rem aperiam, eaque ipsa quaab
                                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
                        </div>
                        <div class="inner-counters">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="counters d-flex mb-10 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                        <div class="counters__icon mb-30"><i class="far fa-box-usd"></i></div>
                                        <div class="counters__content">
                                            <h3><span class="counter">3563</span>k</h3>
                                            <p>Global Partner</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="counters d-flex mb-20 pl-35 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                        <div class="counters__icon mb-30"><i class="far fa-business-time"></i></div>
                                        <div class="counters__content">
                                            <h3><span class="counter">79562</span>k</h3>
                                            <p>Founding Amount</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="theme_btn theme_btn_bg" href="about.html" data-animation="fadeInUp2" data-delay=".1s">explore more <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about-us-area end-->
    <!--feature-project-area start-->
    <section class="feature-project-03 grey-bg pt-125 pb-130">
        <div class="container custom-container-4">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="section-title text-center mb-85 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h6 class="left-line pl-75 pr-75">Features Projects</h6>
                        <h2>We've Take A Mission To <br>
                            <span>Solve The Project</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="projects projects__03 pos-rel mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/08.jpg" alt="">
                        </div>
                        <div class="projects__content white-bg">
                            <h4><a href="project-video.html">Reference Pico-Neo2
                                    Condition New</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                        <h5>85%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="projects projects__03 pos-rel mb-30 wow fadeInUp animated" data-wow-delay='.3s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/09.jpg" alt="">
                        </div>
                        <div class="projects__content white-bg">
                            <h4><a href="project-video.html">Pimax-Vision-852x
                                Condition New</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100">
                                        <h5>39%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="projects projects__03 pos-rel mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/10.jpg" alt="">
                        </div>
                        <div class="projects__content white-bg">
                            <h4><a href="project-video.html">Reference Pico-Neo2
                                    Condition New</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                        <h5>72%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="projects projects__03 pos-rel mb-30 wow fadeInUp2 animated" data-wow-delay='.7s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/11.jpg" alt="">
                        </div>
                        <div class="projects__content white-bg">
                            <h4><a href="project-video.html">Rapoo N24 Wired USB 
                                Smart Keyboard</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">
                                        <h5>83%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--feature-project-area end-->
    <!--our-goal-area start-->
    <section class="our-goal-area pos-rel wow fadeInUp2 animated" data-wow-delay='.1s'>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mission & Vision</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Our Goals</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Company History</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row goal-content mt-75 pb-100">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="goal-wrapper pr-120">
                                        <div class="section-title text-left mb-35">
                                            <h2>Change World<br>
                                            <span>Better Future </span></h2>
                                            <p>Sed ut perspiciatis unde omnis iste natu voluptatem
                                                accusantium doloremque laudantium totam aperiam
                                                eaque ipsa quaab inventore veritatis quasi architecto
                                                beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                                voluptatem quia voluptas sit aspernatur aut</p>
                                        </div>
                                        <ul class="goal-list">
                                            <li>SEO Belong In Your Web Design Process</li>
                                            <li>Build Music Manager With Nuxt And Express</li>
                                            <li>What Does Foldable Web Actually Mean</li>
                                            <li>How To Build Simple Cryptocurrency</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="goal-img-box pl-100">
                                        <div class="goal-img-one">
                                            <img src="assets/img/goal/01.jpg" alt="">
                                        </div>
                                        <div class="goal-img-two">
                                            <img src="assets/img/goal/02.jpg" alt="">
                                        </div>
                                        <div class="goal-img-three">
                                            <img src="assets/img/shape/04.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row goal-content mt-75 pb-100">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="goal-wrapper pr-120">
                                        <div class="section-title text-left mb-35">
                                            <h2>Change Dark<br>
                                            <span>Better Day </span></h2>
                                            <p>Sed ut perspiciatis unde omnis iste natu voluptatem
                                                accusantium doloremque laudantium totam aperiam
                                                eaque ipsa quaab inventore veritatis quasi architecto
                                                beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                                voluptatem quia voluptas sit aspernatur aut</p>
                                        </div>
                                        <ul class="goal-list">
                                            <li>SEO Belong In Your Web Design Process</li>
                                            <li>Build Music Manager With Nuxt And Express</li>
                                            <li>What Does Foldable Web Actually Mean</li>
                                            <li>How To Build Simple Cryptocurrency</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="goal-img-box pl-100">
                                        <div class="goal-img-one">
                                            <img src="assets/img/goal/01.jpg" alt="">
                                        </div>
                                        <div class="goal-img-two">
                                            <img src="assets/img/goal/02.jpg" alt="">
                                        </div>
                                        <div class="goal-img-three">
                                            <img src="assets/img/shape/04.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row goal-content mt-75 pb-100">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="goal-wrapper pr-120">
                                        <div class="section-title text-left mb-35">
                                            <h2>Change Life<br>
                                            <span>Better Morning </span></h2>
                                            <p>Sed ut perspiciatis unde omnis iste natu voluptatem
                                                accusantium doloremque laudantium totam aperiam
                                                eaque ipsa quaab inventore veritatis quasi architecto
                                                beatae vitae dicta sunt explicabo. Nemo enim ipsam
                                                voluptatem quia voluptas sit aspernatur aut</p>
                                        </div>
                                        <ul class="goal-list">
                                            <li>SEO Belong In Your Web Design Process</li>
                                            <li>Build Music Manager With Nuxt And Express</li>
                                            <li>What Does Foldable Web Actually Mean</li>
                                            <li>How To Build Simple Cryptocurrency</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="goal-img-box pl-100">
                                        <div class="goal-img-one">
                                            <img src="assets/img/goal/01.jpg" alt="">
                                        </div>
                                        <div class="goal-img-two">
                                            <img src="assets/img/goal/02.jpg" alt="">
                                        </div>
                                        <div class="goal-img-three">
                                            <img src="assets/img/shape/04.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--cta-area start-->
    <section class="cta-area cta-area-02 theme-bg2 pt-55 pb-25" style="background-image: url(assets/img/bg/05.png);">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="cta-wrapper wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="section-title mb-30">
                            <h2>Become Our <b>Premium</b> Partner ?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <div class="cta-wrapper">
                        <div class="cta-btn text-md-right wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <a class="theme_btn theme_btn_bg_02" href="contact.html">contact us <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--cta-area end-->
    <!--faq-area start-->
    <section class="faq-area heding-bg pos-rel pt-130 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="faq-wrapper mb-30">
                        <div class="section-title white-title text-left mb-85 wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <h6 class="left-line pl-75 pr-75">Faq</h6>
                            <h2>Frequently Asked 
                                Questions</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                                accusantium doloremq laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis quasi architecto</p>
                            <a class="theme_btn theme_btn_bg" href="contact.html">contact us <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="faq-content mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div id="accordion">
                            <div class="card card-bg mb-15" style="background-image:url(assets/img/bg/06.jpg)">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How Can I Donate Your  Product ?
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                   <p> But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                                </div>
                              </div>
                            </div>
                            <div class="card card-bg mb-15" style="background-image:url(assets/img/bg/06.jpg)">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Why You Donate Our Products ?
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <p> But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                                </div>
                              </div>
                            </div>
                            <div class="card card-bg mb-15" style="background-image:url(assets/img/bg/06.jpg)">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How To Marketing Our Product ?
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <p> But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                                </div>
                              </div>
                            </div>
                            <div class="card card-bg mb-15" style="background-image:url(assets/img/bg/06.jpg)">
                              <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How To Marketing Our Product ?
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    <p> But I must explain to you how all this mistake denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--faq-area end-->
     <!--project-area start-->
     <section class="project-area-04 grey-bg pt-125 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="section-title text-center mb-85 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h6 class="left-line pl-75 pr-75">Popular Project</h6>
                        <h2>We’ve Done Many Crowd <br>
                            <span>Founding Project</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/05.jpg" alt="">
                            <a href="#" class="new-tag">new</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-video.html">Gen3 Airoha Air Pro 3 TWS
                                    Cancel Headphone</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95">
                                        <h5>95%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/06.jpg" alt="">
                            <a href="#" class="new-tag">new</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-video.html">Oculus Rift PC-Powered
                                    VR Gaming Headset</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                        <h5>85%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/07.jpg" alt="">
                            <a href="#" class="new-tag">new</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-video.html">Inspiron 13.3 2-In Laptop I3
                                    4GB 50GB Windows</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                        <h5>85%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--project-area end-->
    <!--donation-area start-->
    <section class="donation-area pt-125 pb-100" style="background-image:url(assets/img/events/02.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-8 col-md-8 col-sm-7">
                    <div class="donation-wrapper donation-wrapper-02">
                        <div class="section-title white-title text-left mb-45 wow fadeInUp2 animated" data-wow-delay='.2s'>
                            <h6 class="left-line pl-75 pr-75">Donate Now</h6>
                            <h2>Raise Your  Hand<br>
                            <span>To Right Place</span></h2>
                            <a class="theme_btn theme_btn_bg mt-45" href="contact.html" data-animation="fadeInLeft" data-delay=".7s">donate now <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-4 col-md-4 col-sm-5">
                    <div class="video-wrapper text-right">
                        <div class="video-area pos-rel mr-15">
                            <a href="https://www.youtube.com/watch?v=voF1plqqZJA" class="popup-video"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--donation-area end-->
    <!--testimonial-area start-->
    <section class="testimonial-area pt-125 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="testimonial-img-box">
                        <div class="img-item wow d-none d-xl-inline-block fadeInUp2 animated" data-wow-delay='.3s'>
                            <img src="assets/img/testimonial/01.jpg" alt="">
                        </div>
                        <div class="img-item-two wow fadeInUp2 animated" data-wow-delay='.5s'>
                            <img src="assets/img/testimonial/03.png" alt="">
                        </div>
                        <div class="img-item-three wow fadeIn animated" data-wow-delay='.7s'>
                            <img src="assets/img/shape/06.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 testimonial-active2  wow fadeInUp2 animated" data-wow-delay='.3s'>
                    <div class="testimonial-item testimonial-item-02 pr-80">
                        <div class="section-title text-left mb-50">
                            <h6 class="left-line pl-75 pr-75">Clients Feedback</h6>
                            <h2>356k+ Customer<br>
                                <span>Say About Us</span></h2>
                        </div>
                        <div class="testimonial-content d-sm-flex">
                            <div class="author-img pb-20 mr-40">
                                <div class="author-avatar">
                                    <img src="assets/img/testimonial/04.png" alt="">
                                </div>
                            </div>
                            <div class="testimonial-inner">
                                <h5 class="semi-title mb-15">But must explain to you how this mistae 
                                    denounci pleasure and praising pain was 
                                    born and will give you complete account 
                                    the system and expoun actual teachings 
                                    of the great explorer of ter-builder</h5>
                                <div class="author-content mb-10">
                                    <h5 class="left-line pl-40">David Michel,<span class="desig">CEO & Founder</span></h5>
                                </div>
                                <div class="review-icon">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item testimonial-item-02 pr-80">
                        <div class="section-title text-left mb-50">
                            <h6 class="left-line pl-75 pr-75">Clients Feedback</h6>
                            <h2>356k+ Customer<br>
                                <span>Say About Us</span></h2>
                        </div>
                        <div class="testimonial-content d-sm-flex">
                            <div class="author-img pb-20 mr-40">
                                <div class="author-avatar">
                                    <img src="assets/img/testimonial/04.png" alt="">
                                </div>
                            </div>
                            <div class="testimonial-inner">
                                <h5 class="semi-title mb-15">But must explain to you how this mistae 
                                    denounci pleasure and praising pain was 
                                    born and will give you complete account 
                                    the system and expoun actual teachings 
                                    of the great explorer of ter-builder</h5>
                                <div class="author-content mb-10">
                                    <h5 class="left-line pl-40">David Michel,<span class="desig">CEO & Founder</span></h5>
                                </div>
                                <div class="review-icon">
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                    <a href="#"><i class="fas fa-star"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--testimonial-area end-->
    <!--counter-area start-->
    <section class="counter-area-02">
        <div class="container custom-container-05 theme-bg2 pt-80 pb-45" style="background-image: url(assets/img/bg/07.png);">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="counetrs text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h1><span class="counter">402</span>+</h1>
                        <p>Project Complate</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="counetrs text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <h1><span class="counter">365</span>+</h1>
                        <p>Global Partner</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="counetrs text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <h1><span class="counter">753</span>+</h1>
                        <p>Awards Winning</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                    <div class="counetrs text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.7s'>
                        <h1><span class="counter">862</span>+</h1>
                        <p>Active Volunteer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--counter-area end-->
    <!--blog-area start-->
    <section class="blog-area grey-bg pt-120 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="section-title text-center mb-70 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h6 class="left-line pl-75 pr-75">Latest News</h6>
                        <h2>Get Our Every Update<br>
                            <span>News & Blog</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <div class="blogs blogs-02 white-bg mb-30">
                        <div class="blogs__thumb pos-abl" style="background-image:url(assets/img/blog/03.jpg);">
                       </div>
                        <div class="blogs__content pos-rel">
                            <ul class="project-manager mb-20">
                                <li>
                                    <a class="blog-tag" href="blog-details.html">Education</a>
                                </li>
                                <li><a href="#"><img src="assets/img/blog/03.png" alt="">
                                        <span>David Zon</span></a></li>
                            </ul>
                            <h4 class="mb-20"><a href="blog-details.html">How Make Cross-Browser Testing More Lambda.</a></h4>
                            <p>Sed ut perspiciatis unde omnis natus error sit voluptatem accusan loremqe laudantiu totam rem aperiam</p>
                            <div class="blogs__content--meta pt-30">
                                <span><i class="far fa-calendar-alt"></i> 05 Nov 2020</span>
                                <span><i class="far fa-comment"></i> Comment (03)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>
                    <div class="blogs blogs-02 white-bg mb-30">
                        <div class="blogs__thumb pos-abl" style="background-image:url(assets/img/blog/03.jpg);">
                       </div>
                        <div class="blogs__content pos-rel">
                            <ul class="project-manager mb-20">
                                <li>
                                    <a class="blog-tag" href="blog-details.html">Education</a>
                                </li>
                                <li><a href="#"><img src="assets/img/blog/03.png" alt="">
                                        <span>David Zon</span></a></li>
                            </ul>
                            <h4 class="mb-20"><a href="blog-details.html">Smashing Podcast Episode  Falbe Martin Michael</a></h4>
                            <p>Sed ut perspiciatis unde omnis natus error sit voluptatem accusan loremqe laudantiu totam rem aperiam</p>
                            <div class="blogs__content--meta pt-30">
                                <span><i class="far fa-calendar-alt"></i> 05 Nov 2020</span>
                                <span><i class="far fa-comment"></i> Comment (03)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.5s'>
                    <div class="blogs blogs-02 white-bg mb-30">
                        <div class="blogs__thumb pos-abl" style="background-image:url(assets/img/blog/03.jpg);">
                       </div>
                        <div class="blogs__content pos-rel">
                            <ul class="project-manager mb-20">
                                <li>
                                    <a class="blog-tag" href="blog-details.html">Education</a>
                                </li>
                                <li><a href="#"><img src="assets/img/blog/03.png" alt="">
                                        <span>David Zon</span></a></li>
                            </ul>
                            <h4 class="mb-20"><a href="blog-details.html">How Make Cross-Browser Testing More Lambda.</a></h4>
                            <p>Sed ut perspiciatis unde omnis natus error sit voluptatem accusan loremqe laudantiu totam rem aperiam</p>
                            <div class="blogs__content--meta pt-30">
                                <span><i class="far fa-calendar-alt"></i> 05 Nov 2020</span>
                                <span><i class="far fa-comment"></i> Comment (03)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--blog-area end-->
</main>
{{%end content}}