<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SparkStarter - Modern Crowdfunding Platform for Creatives</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    {% assets "frontend_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

</head>

<body>
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- header-area start -->
    <header id="top-menu">
        <div class="header-top-area  head-top-02 grey-bg pt-15 pb-15 d-none d-lg-block">
            <div class="container custom-container-03">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8">
                        <ul class="login-area">
                            <li><span>Welcome to Given. Most Popular Crowdfounding Agency</span></li>
                            <li><a class="sign_btn" href="#"><i class="far fa-lock-alt"></i> Sign up</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-5 col-lg-5 d-none d-xl-block">
                        <div class="top-cta text-right">
                            <span class="media-link"><i class="far fa-envelope"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e1929491918e9395a1868c80888dcf828e8c">[email&#160;protected]</a></span>
                            <span class="media-link"><i class="far fa-map-marker-alt"></i> 250 Main Street, 2nd Floor,
                                USA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header-area main-head-02">
            <div class="container custom-container-03">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                        <div class="logo">
                            <a class="logo-img" href="index.html"><img src="assets/img/logo/header_logo_two.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-9 d-none d-lg-block text-lg-center text-xl-right">
                        <div class="main-menu main-menu-02 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="#">Home <i class="far fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="index.html">Home Style 1</a></li>
                                            <li><a href="index-2.html">Home Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="#">Events <i class="far fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="events.html">Events Grid</a></li>
                                            <li><a href="events-details.html">Events Details</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="#">Project <i class="far fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="project-01.html">Project One</a></li>
                                            <li><a href="project-02.html">Project Two</a></li>
                                            <li><a href="project-03.html">Project Three</a></li>
                                            <li><a href="project-gallery.html">Project Gallery</a></li>
                                            <li><a href="project-image.html">Project Image</a></li>
                                            <li><a href="project-video.html">Project Video</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Blogs <i class="far fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-standard.html">Blog Standard</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages <i class="far fa-chevron-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="history.html">History</a></li>
                                            <li><a href="career.html">Career</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-1 col-md-6 col-6 text-right d-flex align-items-center justify-content-end">
                        <div class="quote-btn mr-10">
                            <a href="contact.html" class="theme_btn theme_btn_bg">get a quote <i class="far fa-arrow-right"></i></a>
                        </div>
                        <div class="hamburger-menu">
                            <a href="javascript:void(0);">
                                <img src="assets/img/logo/bar-icon-01.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-area end -->

    <aside class="slide-bar">
        <div class="close-mobile-menu">
            <a href="javascript:void(0);"><i class="fas fa-times"></i></a>
        </div>

        <!-- offset-sidebar start -->
        <div class="offset-sidebar">
            <div class="offset-widget offset-logo mb-30">
                <a href="index.html">
                    <img src="assets/img/logo/header_logo_one.png" alt="logo">
                </a>
            </div>
            <div class="offset-widget mb-40">
                <div class="info-widget">
                    <h4 class="offset-title mb-20">About Us</h4>
                    <p class="mb-30">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                        was born and will give you a complete account of the system and expound the actual teachings of
                        the great explore
                    </p>
                    <a class="theme_btn theme_btn_bg" href="contact.html">Contact Us</a>
                </div>
            </div>
            <div class="offset-widget mb-30 pr-10">
                <div class="info-widget info-widget2">
                    <h4 class="offset-title mb-20">Contact Info</h4>
                    <p> <i class="fal fa-address-book"></i> 23/A, Miranda City Likaoli Prikano, Dope</p>
                    <p> <i class="fal fa-phone"></i> +0989 7876 9865 9 </p>
                    <p> <i class="fal fa-envelope-open"></i> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="543d3a323b14312c35392438317a373b39">[email&#160;protected]</a> </p>
                </div>
            </div>
        </div>
        <!-- offset-sidebar end -->

        <!-- side-mobile-menu start -->
        <nav class="side-mobile-menu">
            <ul id="mobile-menu-active">
                <li class="has-dropdown">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home Style 1</a></li>
                        <li><a href="index-2.html">Home Style 2</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="has-dropdown">
                    <a href="#">Events</a>
                    <ul class="sub-menu">
                        <li><a href="events.html">Events Grid</a></li>
                        <li><a href="events-details.html">Events Details</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="#">Project</a>
                    <ul class="submenu">
                        <li><a href="project-01.html">Project One</a></li>
                        <li><a href="project-02.html">Project Two</a></li>
                        <li><a href="project-03.html">Project Three</a></li>
                        <li><a href="project-gallery.html">Project Gallery</a></li>
                        <li><a href="project-image.html">Project Image</a></li>
                        <li><a href="project-video.html">Project Video</a></li>
                    </ul>
                </li>
                <li class="has-dropdown"><a href="#">Blogs</a>
                    <ul class="submenu">
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-standard.html">Blog Standard</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="history.html">History</a></li>
                        <li><a href="career.html">Career</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contacts Us</a></li>
            </ul>
        </nav>
        <!-- side-mobile-menu end -->
    </aside>
    <div class="body-overlay"></div>
    <!-- slide-bar end -->


    <footer class="footer-area heding-bg pos-rel pt-100" style="background-image:url(assets/img/bg/02.png)">
        <div class="container">
            <div class="footer-bottom-area">
                <div class="row mb-30">
                    <div class="col-xl-2 col-lg-3 col-md-6  wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="footer__widget mb-30">
                            <h5 class="semi-title mb-25">Quick Links</h5>
                            <ul class="fot-list">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Latest events</a></li>
                                <li><a href="#">How It Works</a></li>
                                <li><a href="#">News & articles</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <div class="footer__widget mb-30 pl-40">
                            <h5 class="semi-title mb-25">Our Project</h5>
                            <ul class="fot-list">
                                <li><a href="#">Education</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Film & Video</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Games</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6  wow fadeInUp2 animated" data-wow-delay='.7s'>
                        <div class="footer__widget mb-25 pl-85">
                            <h5 class="semi-title mb-25">Our Project</h5>
                            <p class="mb-10">Perspi ciatis unde omnis iste nat
                                error sit voluptatem accusan</p>
                            <ul class="fot-list address-list">
                                <li><a href="#"><i class="far fa-map-marker-alt"></i> 250 Main Street, 2nd Floor, USA</a></li>
                                <li><a href="#"><i class="far fa-envelope"></i> <span class="__cf_email__" data-cfemail="e2919792928d9096a2858f838b8ecc818d8f">[email&#160;protected]</span></a></li>
                                <li><a href="#"><i class="far fa-phone-volume"></i> 888 (0123) 456 79</a></li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6  wow fadeInUp2 animated" data-wow-delay='.9s'>
                        <div class="footer__widget fot_abot mb-30 pl-85">
                            <h5 class="semi-title mb-25">Donation Us</h5>
                            <p class="mb-30">Sed ut perspi ciatis unde omnis iste 
                                natus error sit voluptatem accusantiu doloremque laudantiu totam</p>
                                <div class="subscribe-content foter-subscribe">
                                    <form class="subscribe-form" action="form.php">
                                        <input class="form-control" type="text" placeholder="Enter Your Email">
                                        <button><i class="far fa-arrow-right"></i></button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--scroll-target-btn-->
            <a href="#top-menu" class="scroll-target"><i class="far fa-arrow-up"></i></a>
            <!--scroll-target-btn-->
            <div class="copy-right-area pt-30">
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-7 col-md-6">
                        <div class="footer-log mb-30">
                            <a href="index.html" class="footer-logo mb-30"><img src="img/logo/footer-logo1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6">
                        <div class="copyright mb-30 text-md-right">
                            <p>© 2020 Given. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS here -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    
    {% assets "frontend_js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
   
</body>

</html>