<!-- listing.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Listing</title>
</head>
<body>
    <div id="campaignList"></div>



    {% assets "request_js" %}
    <script src="{{ ASSET_URL }}"></script>

{% endassets %}
</body>
</html>



<main>
        
    <!--page-title-area start-->
    <section class="page-title-area" style="background-image:url(assets/img/bg/page-title-bg.jpg);">
        <div class="right-border-shape">
            <img src="assets/img/shape/02.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="page-title-wrapper text-center">
                        <h1 class="page-title wow fadeInUp2 animated" data-wow-delay='.1s'>Latest Project</h1>
                        <div class="breadcrumb">
                            <ul class="breadcrumb-list wow fadeInUp2 animated" data-wow-delay='.3s'>
                                <li><a href="index.html">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a class="active" href="#">Project 02</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page-title-area area-->
    <!--feature-project-area start-->
    <section class="feature-project-area pt-125 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="section-title text-center mb-85 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h6 class="left-line pl-75 pr-75">Features Projects</h6>
                        <h2>We've Take A Mission To <br>
                            <span>Solve The Project</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="projects grey-bg d-sm-flex mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="projects__thumb">
                            <img src="assets/img/project/01.jpg" alt="">
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-image.html">Reference Pico-Neo2
                                    Condition New</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                        <h5>85%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="projects grey-bg d-sm-flex mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="projects__thumb">
                            <img src="assets/img/project/02.jpg" alt="">
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-image.html">Pimax-Vision-852x
                                    Condition New</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="29" aria-valuemin="0" aria-valuemax="29">
                                        <h5>29%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="projects grey-bg d-sm-flex mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="projects__thumb">
                            <img src="assets/img/project/03.jpg" alt="">
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-image.html">Mobile UI Design For
                                    Beginners Part</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="72">
                                        <h5>72%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <div class="projects grey-bg d-sm-flex mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="projects__thumb">
                            <img src="assets/img/project/04.jpg" alt="">
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-image.html">Micrologic ML-522 BT
                                    Bluetooth Speaker</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="48">
                                        <h5>48%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--feature-project-area end-->
    <!--donation-area start-->
    <section class="donation-area pt-125 pb-100" style="background-image:url(assets/img/events/01.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="donation-wrapper">
                        <div class="section-title white-title text-center mb-40 wow fadeInUp2 animated" data-wow-delay='.2s'>
                            <h6 class="left-line pl-75 pr-75">Donate Now</h6>
                            <h2>Raise Your Hand To The<br>
                                <span>Right Place</span></h2>
                        </div>
                        <ul class="btn-list text-center mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                            <li><a class="theme_btn theme_btn_bg" href="about.html" data-animation="fadeInLeft" data-delay=".7s">explore more <i class="far fa-arrow-right"></i></a>
                            </li>
                            <li><a class="theme_btn theme-border-btn" href="contact.html" data-animation="fadeInLeft" data-delay=".7s">donate now <i class="far fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--donation-area end-->
    <!--project-area start-->
    <section class="project-01-area pt-125 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="section-title text-center mb-85 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h6 class="left-line pl-75 pr-75">Popular Project</h6>
                        <h2>We’ve Done Many Crowd <br>
                            <span>Founding Project</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/05.jpg" alt="">
                            <a href="#" class="new-tag">new</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-gallery.html">Gen3 Airoha Air Pro 3 TWS
                                    Cancel Headphone</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95">
                                        <h5>95%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/06.jpg" alt="">
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-gallery.html">Oculus Rift PC-Powered
                                    VR Gaming Headset</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                        <h5>85%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/07.jpg" alt="">
                            <a href="#" class="new-tag hot_tag">Hot</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-gallery.html">Inspiron 13.3 2-In Laptop I3
                                    4GB 50GB Windows</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="85">
                                        <h5>33%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/13.jpg" alt="">
                            <a href="#" class="new-tag">new</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-gallery.html">Gen3 Airoha Air Pro 3 TWS
                                    Cancel Headphone</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="95">
                                        <h5>95%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/14.jpg" alt="">
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-gallery.html">Oculus Rift PC-Powered
                                    VR Gaming Headset</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                        <h5>85%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="projects projects-02 white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <div class="projects__thumb pos-rel">
                            <img src="assets/img/project/15.jpg" alt="">
                            <a href="#" class="new-tag hot_tag">Hot</a>
                        </div>
                        <div class="projects__content">
                            <h4><a href="project-gallery.html">Inspiron 13.3 2-In Laptop I3
                                    4GB 50GB Windows</a></h4>
                            <div class="skill mb-30">
                                <p>Raised <span>$2535</span></p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="85">
                                        <h5>33%</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="projects__content--manager">
                                <ul class="project-manager">
                                    <li><a href="#"><img src="assets/img/project/01.png" alt="">
                                            <span>Somalia</span></a></li>
                                    <li>
                                        <p class="time"><i class="far fa-clock"></i> 7 Days Left</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--project-area end-->
    <!--cta-area start-->
    <section class="cta-area theme-bg pt-55 pb-25">
        <div class="container">
            <div class="row align-items-md-center">
                <div class="col-xl-9 col-lg-9 col-md-8">
                    <div class="cta-wrapper">
                        <div class="section-title mb-30">
                            <h2>Become Our <b>Premium</b> Partner ?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4">
                    <div class="cta-wrapper">
                        <div class="cta-btn text-left text-md-right">
                            <a class="theme_btn theme_btn_bg" href="contact.html">contact us <i class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--cta-area end-->
</main>
