{% extends 'layouts/main.html' %}
{% block title %}<title>GoFundMe | Contact </title> {% endblock title %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="POST" action="/contact">
      {{ form.hidden_tag() }}

      <h3 class="form-heading">Send us a Message</h3>

      <div class="form-group mb-3">
        <label class="primary_label" for="email">Email</label>
        {{ form.email(class_ = 'form-control',placeholder='Type Your Email ', autofocus = true) }}
      </div>

      <div class="form-group mb-3">
        <label class="primary_label" for="subject">Subject</label>
        {{ form.subject(class = 'form-control', placeholder='Type Your Subject', autofocus = true) }}
      </div>

      <div class="form-group mb-3 ">
        <label class="primary_label" for="message">Message</label>
          {{ form.message(class_ = 'form-control', placeholder='Enter Your Message', autofocus = true) }}
        </div>

        <div class="form-group mb-3">
            <input type="submit" value="Send" class="btn btn-primary btn-lg btn-block" id="btn-msg">
          </div>
      {{ ckeditor.load() }}
      {{ ckeditor.config(name='body') }}
    </form>
  </div>
{% endblock %} 