*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.container{

    display: grid;
    margin-top: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 15PX; */


}

.search-bar{
    margin-right: 2rem;
}

.search-btn{
    border-radius: 4rem;
    background-color: #fff;
    border: 2px solid #000000;
    color: #000000;

}

.search-btn:hover{
    background-color: #000000;
    color: #ffffff
}

.jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #0a0b21; */
    opacity: .4;
    z-index: -1;
}

.jumbotron{
    
    position: relative;
    z-index: 1;
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    align-items: center;
    /* background-image: url(img/jumbo-img.jpg); */
    color: #02A95c;
}



.jumbotron-btn{

    border-radius: 4rem;
    background-color: #000000;
}

.jumbotron-btn:hover{
    background-color: #f3f3f3;
    color: #02A95C
}

.lead-img{
    background-image: url('img/jumbo-img.jpg');
}

.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-size: 16px; */
    color: #02A95c;
    font-size: x-large;
    font-weight: bold;
}

.nav-item{
    margin-right: 4em;
}

.master-card{
    margin-left: 4rem;
}

.group-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
} 

.cards{
    margin: 4rem;
}

/* form css ...starts here */

#btn-msg{
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    background-color: #000000;
    color : #ffffff;
}

#btn-msg:hover{
    color: #02A95C;
    background-color: #f3f3f3;
}

.form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    
}

.form-wrapper{
    margin-top: 10%;
    background-color: #f3f3f3;
}

.primary_label{
    font-size: 14px;
    color: #373737;
    display: block;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact_title{
    font-size: 24px;
    font-weight: 700;
    color: #373737;
    line-height: 25px;
}
/* form css ...ends here.. */


